* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: #07092f;
}

button {
  cursor: pointer;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game__start {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  color: #eeeeee;
  text-align: center;
}
.game__previous {
  margin-bottom: 8vh;
  font-size: 1.3rem;
}
.game__welcome {
  margin-bottom: 8vh;
}
.game__button {
  padding: 20px;
  width: 70%;
  margin: 2%;
  border-radius: 20px;
  background-color: #85f5ff;
  font-size: 1.5rem;
}

.question {
  max-width: 1600px;
  width: 95%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #eeeeee;
  border-radius: 50px;
}
.question__box {
  width: 95%;
  height: 30%;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #dddddd;
  color: #07092f;
}
.question__answers {
  width: 90%;
  height: 60%;
  border-radius: 50px;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}
.question__answer {
  border-radius: 20px;
  margin: 10px;
  background-color: #ff8c32;
  color: #eeeeee;
  font-size: 1.3rem;
}
.question__answer:hover {
  background-color: #f8a56d;
}
.question__top {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5rem;
}
.question__timer {
  margin-left: 30%;
  font-size: 4rem;
}

h2 {
  text-align: center;
}

h1 {
  margin-top: 30px;
}

.correct {
  background-color: #95cf92;
}

.wrong {
  background-color: #de324c;
}

.hidden {
  display: none !important;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 15%;
  top: 40%;
  opacity: 0.85;
  width: 70vw;
  height: 35vh;
  border-radius: 20px;
  background-color: #dddddd;
  font-size: 1.2rem;
  color: #07092f;
}
.popup button {
  padding: 1rem 4rem;
  border-radius: 20px;
  font-size: 1.2rem;
}

@media screen and (min-width: 810px) {
  .question__timer {
    margin-left: 35%;
  }
}
@media screen and (min-width: 850px) {
  .question__text {
    width: 86%;
  }

  .question__answers {
    grid-template-columns: 1fr 1fr;
  }

  .question__answer {
    margin: 1rem;
  }

  .popup {
    top: 35%;
  }

  .question__timer {
    margin-left: 40%;
  }
}
@media screen and (min-width: 1600px) {
  .popup {
    width: 60vw;
    left: 20%;
  }

  .question__timer {
    margin-left: 45%;
  }
}
@media screen and (min-width: 2000px) {
  .popup {
    width: 50vw;
    left: 25%;
  }
}
@media screen and (min-width: 2650px) {
  .popup {
    width: 40vw;
    left: 30%;
  }
}
@media screen and (min-width: 3200px) {
  .popup {
    width: 40vw;
    left: 30%;
  }
}