$color-primary: #07092f;
$color-secondary:#ff8c32;
$color-third: #f8a56d;
$color-fourth: #dddddd;
$color-fifth: #eeeeee;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: $color-primary;
}

button {
    cursor: pointer;
}
.game {
    max-width: 1600px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__start {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 50px;
        color: $color-fifth;
        text-align: center;
    }

    &__previous {
        margin-bottom: 8vh;
        font-size: 1.3rem;
    }

    &__welcome {
        margin-bottom: 8vh;
    }

    &__button {
        padding: 20px;
        width: 70%;
        margin: 2%;
        border-radius: 20px;
        background-color: #85f5ff;
        font-size: 1.5rem;
    }
}


.question {
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $color-fifth;
    // border: 2px solid black;
    border-radius:50px;


    &__box {
        // border: 2px solid black;
        width: 95%;
        height: 30%;
        padding: 10px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        background-color: $color-fourth;
        color: $color-primary;
    }

    &__answers {
        // border: 2px solid black;
        width: 90%;
        height: 70%;
        border-radius:50px;
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    &__answer {
        border-radius: 20px;
        margin: 10px;
        background-color: $color-secondary;
        color: $color-fifth;
        font-size: 1.3rem;
    
        &:hover {
            background-color: $color-third;
        }
    }

    &__top {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 2.5rem;
        position: relative;
        margin-bottom: 20px;
    }

    &__timer {
        font-size: 4rem;
        position: absolute;
        left: 48%;
    }
}

h2 {
    text-align: center;
    padding: 3px;
}
h1 {
    margin-top: 30px;
}

.correct {
    background-color: #95cf92;
}

.wrong {
    background-color: #de324c;
}

.hidden {
    display: none !important;
}


.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 40%;
    opacity: 0.85;
    width: 75%;
    height: 40%;
    border-radius: 20px;
    background-color: #dddddd;
    font-size: 1.2rem;
    color: #07092f;

    button {
        padding: 1rem 4rem;
        border-radius: 20px;
        font-size: 1.3rem;

    }
}